{% assign current_lang = page.lang | default: "en" %}
{% if current_lang == "it" %}
  {% if page.ref %}
    {% assign en_target = site.posts | where: "ref", page.ref | where: "lang", "en" | first %}
  {% endif %}
  {% assign en_url = en_target.url | default: "/en/" %}
  <a class="lang-link" href="{{ en_url | relative_url }}">EN</a>
  <span class="lang-pill">IT</span>
{% else %}
  <span class="lang-pill">EN</span>
  {% if page.ref %}
    {% assign it_target = site.posts | where: "ref", page.ref | where: "lang", "it" | first %}
  {% endif %}
  {% assign it_url = it_target.url | default: "/it/" %}
  <a class="lang-link" href="{{ it_url | relative_url }}">IT</a>
{% endif %}
